@use 'util' as *;

#root {
    .root__note {
        margin-inline: 1rem;
        margin-top: 1rem;
    }
}

.contact-form {
    margin-block: 2rem;
    margin-left: 1rem;
    user-select: none;
    min-height: 55vh;

    textarea,
    input {
        padding-inline: 10px;
        border: none;
        outline: none;
        background: $sec-clr;
        border-radius: 5px;
        margin-block: 5px;
        color: $txt-clr;
        caret-color: aqua;
    }

    input {
        height: 1.5rem;
        width: 8rem;
    }

    textarea {
        padding-block: 5px;
        resize: both;
    }

    button {
        background: $sec-clr;
        border: none;
        color: $txt-clr;
        padding: 0.5rem 0.8rem;
        border-radius: 5px;
        margin-top: 1rem;
        transition: 0.3s ease;

        &:hover {
            cursor: pointer;
            background: $sec-clr-hov;
        }
    }

    &__code {
        margin-top: 1rem;

        &__block {
            &__1 {
                margin-left: 1rem;
            }

            &__2 {
                margin-left: 1.5rem;
            }

            &__3 {
                margin-left: 1.5rem;
            }
        }

        &__message-field {
            display: flex;
            align-items: flex-start;
        }
    }

    .submit-message {
        margin-top: 1rem;
        margin-left: 1rem;
    }
}